<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Test">
    <test name="parameterized Test" enabled="false">
        <parameter name="param1" value="this is string"/>
        <parameter name="param2" value="123"/>
        <classes>
            <class name="TestNG.Annotations"/>
            <class name="TestNG.DependentTest"/>
        </classes>
    </test>
    <test name="group example" enabled="false">
        <groups>
            <run>
                <include name="functionalTest"/>
                <include name="SmokeTest"/>
            </run>
        </groups>

        <classes>
            <class name="TestNG.Messagetest"/>
        </classes>
    </test>
<!--report-->
    <test name="MyTest" enabled="false">
        <classes>
            <class name="TestNG.Annotations"/>
            <class name="TestNG.DataProviderExample"/>
        </classes>
    </test>
    <!-- Specify the HTML report location using a system property -->
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter" />
        <listener class-name="org.testng.reporters.XMLReporter" />
        <listener class-name="org.testng.reporters.SuiteHTMLReporter" />
        <listener class-name="org.testng.reporters.TestHTMLReporter" />
    </listeners>
    <parameter name="outputdir" value="test-output/TestNGReports"/>

    <test name="selenium test">
        <classes>
            <class name="TestingPractice.OpenSlack"/>
        </classes>
    </test>

    <test name="amazon test" enabled="false">
        <classes>
            <class name="TestingPractice.AmazonMacBooks"/>
        </classes>
    </test>
    <test name="OrangePOMTest" enabled="false">
        <classes>
            <class name="selenium.LoginOrangeHrmPOM"/>
        </classes>
    </test>
    <test name="Twitter Test" enabled="false">
        <classes>
            <class name="TestingPractice.openTwitterAndLogout"/>
        </classes>
    </test>
</suite>


<!--click "test-output" and then right click
emailable-report.html and then click open
and select browser - this is to access the report-->

<!-- <class name="selenium.OpenGoogleTest"/> -->

<!-- <class name="selenium.OpenOrange"/> -->